<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="product_filter1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <product_filter1.Properties.Settings>
            <setting name="char_template" serializeAs="String">
                <value>2019-00</value>
            </setting>
            <setting name="max_in_length" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="input_col" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="output_col" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="excel_password" serializeAs="String">
                <value />
            </setting>
            <setting name="excel_file_path" serializeAs="String">
                <value />
            </setting>
            <setting name="log_file_path" serializeAs="String">
                <value />
            </setting>
            <setting name="bool_autocopy" serializeAs="String">
                <value>True</value>
            </setting>
        </product_filter1.Properties.Settings>
    </userSettings>
</configuration>